<!DOCTYPE html>
<html>
<head>
    <title>Get Started</title>
    <style>
        body {
            background-color: #f0f0f0;
            font-family: Arial, sans-serif;
            text-align: center;
        }
        
        a,h1 {
            display: flex;
            width: 50%;
            margin: auto;
            margin-bottom: 40px;
            padding: 10px 20px;
            text-decoration: none;
            color: #fff;
            background-color: #3498db;
            border-radius: 5px;
            transition: background-color 0.3s;
            align-items: baseline;
            text-align: center;
        }
        h1{
            background-color: #fff;
            border: 2px solid blue;
            color: #0256ff;
        }
        
        a:hover {
            background-color: #2980b9;
        }
    </style>
</head>
<body>
    <h1>Welcome to the appoinment section</h1>


    <a href="/add-appointment">Get Started</a>
</body>
</html>
